<!doctype html>
<html lang="{{ site.lang | default: " pt-BR" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="icon" type="image/x-icon" href="/Languages/favicon.ico">

	{% seo title=false %}

	<title>
		{{ site.title }} | {{ page.title }}
	</title>
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="https://code.jquery.com/jquery-3.3.0.min.js"
		integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/main.js' | relative_url }}" type="module"></script>
	<script src="{{ '/assets/js/icons.js' | relative_url }}" type="module"></script>
	<!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	{% include head-custom.html %}
</head>

<body>
	<div class="navigation-wrapper">
		<header>
			<h1>{{ site.title }}</h1>
		</header>
		<nav id="header-navigation">
		</nav>
		<footer>
			{% if site.github.is_project_page %}
			<p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
			{% endif %}
			<p><small>Hosted on GitHub &mdash; Theme by <a href="https://rafaelrosa.dev">ziinahzoor</a></small>
			</p>
		</footer>
	</div>

	<section>
		{{ content }}
	</section>
</body>

</html>